ul.spin-animation {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}
li.spin-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  background: transparent;
  border: 10px solid #17f6fb;
  border-radius: 500px;
  transition: all 0.5s ease;
}
li.spin-animation:first-child {
  margin-left: -130px;
  margin-top: -130px;
  width: 240px;
  height: 240px;
  border-color: #e000c9;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: spin 12s infinite linear;
          animation: spin 12s infinite linear;
}
li.spin-animation:nth-child(2) {
  margin-left: -120px;
  margin-top: -120px;
  width: 220px;
  height: 220px;
  border-color: #7500ad;
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-animation: spin2 12s infinite linear;
          animation: spin2 12s infinite linear;
}
li.spin-animation:nth-child(3) {
  margin-left: -110px;
  margin-top: -110px;
  width: 200px;
  height: 200px;
  border-color: #0049d8;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: spin3 4s infinite linear;
          animation: spin3 4s infinite linear;
}
li.spin-animation:nth-child(4) {
  margin-left: -80px;
  margin-top: -80px;
  width: 140px;
  height: 140px;
  border-color: #0089ed;
  border-left-color: transparent;
  border-top-color: transparent;
  -webkit-animation: spin4 4s infinite linear;
          animation: spin4 4s infinite linear;
}
li.spin-animation:nth-child(5) {
  margin-left: -70px;
  margin-top: -70px;
  width: 120px;
  height: 120px;
  border-color: #00f2a9;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: spin5 4s infinite linear;
          animation: spin5 4s infinite linear;
}
li.spin-animation:nth-child(6) {
  margin-left: -60px;
  margin-top: -60px;
  width: 100px;
  height: 100px;
  border-color: #009e2c;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: spin6 4s infinite linear;
          animation: spin6 4s infinite linear;
}
li.spin-animation:nth-child(7) {
  margin-left: -40px;
  margin-top: -40px;
  width: 60px;
  height: 60px;
  border-color: #d4d800;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  -webkit-animation: spin7 2s infinite linear;
          animation: spin7 2s infinite linear;
}
li.spin-animation:nth-child(8) {
  margin-left: -30px;
  margin-top: -30px;
  width: 40px;
  height: 40px;
  border-color: #c18b00;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: spin8 2s infinite linear;
          animation: spin8 2s infinite linear;
}
/* Animations */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  20% {
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
  }
  30% {
    -webkit-transform: rotate(-125deg);
            transform: rotate(-125deg);
  }
  40% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  60% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
  70% {
    -webkit-transform: rotate(42deg);
            transform: rotate(42deg);
  }
  80% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(-300deg);
            transform: rotate(-300deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  20% {
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
  }
  30% {
    -webkit-transform: rotate(-125deg);
            transform: rotate(-125deg);
  }
  40% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  60% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
  70% {
    -webkit-transform: rotate(42deg);
            transform: rotate(42deg);
  }
  80% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(-300deg);
            transform: rotate(-300deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
  70% {
    -webkit-transform: rotate(42deg);
            transform: rotate(42deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
  70% {
    -webkit-transform: rotate(42deg);
            transform: rotate(42deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin5 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  20% {
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
  }
  30% {
    -webkit-transform: rotate(-125deg);
            transform: rotate(-125deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin5 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  20% {
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
  }
  30% {
    -webkit-transform: rotate(-125deg);
            transform: rotate(-125deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin6 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(-300deg);
            transform: rotate(-300deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin6 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(-300deg);
            transform: rotate(-300deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin7 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes spin7 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.header-font {
  color: white;
  font-size: 20px;
}
.sub-heading {
  color: white;
  font-size: 18px;
}
.content-font {
  color: white;
  font-size: 16px;
}
.header-title {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.animation-header {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
input {
  color: black;
}
.scrollable {
  background-color: white;
}
.scrollable-content::-webkit-scrollbar {
  display: none;
}
.scrollable-header {
  color: black;
}
.body-scrollable {
  background-color: #212121;
  color: white;
  font-size: 16px;
  text-align: center;
}
.body-scrollable > .scrollable-content {
  margin-left: 10px;
  padding-right: 10px;
}
.body-visual-smoothness > .scrollable-content {
  margin-left: 0px;
  padding-right: 0px;
}
.body-visual-smoothness > .scrollable-content span {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.badge-green,
.badge-red {
  display: inline-block;
  min-width: 16px;
  color: white;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 6px;
  padding-right: 6px;
}
.badge-green {
  background-color: green;
}
.badge-red {
  background-color: red;
}
.network-request-list {
  margin-top: 10px;
}
.network-request-listing {
  margin-bottom: 5px;
  margin-top: 5px;
}
.background-color-0 {
  background-color: #ff0000;
}
.background-color-1 {
  background-color: #ff4000;
}
.background-color-2 {
  background-color: #ff8000;
}
.background-color-3 {
  background-color: #ffbf00;
}
.background-color-4 {
  background-color: #ffff00;
}
.background-color-5 {
  background-color: #bfff00;
}
.background-color-6 {
  background-color: #80ff00;
}
.background-color-7 {
  background-color: #40ff00;
}
.background-color-8 {
  background-color: #00ff00;
}
.background-color-9 {
  background-color: #00ff40;
}
.background-color-10 {
  background-color: #00ff80;
}
.background-color-11 {
  background-color: #00ffbf;
}
.background-color-12 {
  background-color: #00ffff;
}
.background-color-13 {
  background-color: #00bfff;
}
.background-color-14 {
  background-color: #0080ff;
}
.background-color-15 {
  background-color: #0066ff;
}
.background-color-16 {
  background-color: #0040ff;
}
.background-color-17 {
  background-color: #0000ff;
}
.background-color-18 {
  background-color: #4000ff;
}
.background-color-19 {
  background-color: #8000ff;
}
.background-color-20 {
  background-color: #bf00ff;
}
.background-color-21 {
  background-color: #ff00ff;
}
.background-color-22 {
  background-color: #ff00bf;
}
.background-color-23 {
  background-color: #ff0080;
}
.background-color-24 {
  background-color: #ff0040;
}
.visual-test-list-item {
  height: 10px;
  width: 100%;
}

/*# sourceMappingURL=app.less.css.map */
