<div class="scrollable body-scrollable">
    <div class="scrollable-header">
        <span class="header-title" >Animations Demo</span>
    </div>
    <div class="scrollable-content">
        <ul class="spin-animation">
            <li class="spin-animation"></li>
            <li class="spin-animation"></li>
            <li class="spin-animation"></li>
            <li class="spin-animation"></li>
            <li class="spin-animation"></li>
            <li class="spin-animation"></li>
            <li class="spin-animation"></li>
            <li class="spin-animation"></li>
         </ul>   
    </div>
</div>