<div class="scrollable body-scrollable">
    <div class="scrollable-content">
        <span class="header-title">Welcome to Showcase - PhoneGap</span>
        <span class="sub-title">This is a simple application to showcase certain tests or demos to be compared.</span>
        <br>
        <br>
        <span class="sub-title">The idea is to visualize and quantify any possible differences with different mobile development frameworks</span>
        <br>
        <span class="header-title">Use the Side-Menu located at the top left corner to browse the demos</span>   
        <br>           
    </div>
    <div class="scrollable-footer">
        <img src="images/Logo-Vector-01.png"/>  
    </div>
</div>