<h1 class="app-name">Showcase - PhoneGap</h1>
<div class="scrollable">
  <h1 class="scrollable-header app-name">Menu - Demos</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#/">Intro<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/cpu_test">CPU Test<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/visual_interface">Visual Elements Creation Smoothness<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/animations">Animations<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/network_overhead">Network Overhead<i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>